In [64]:
import pandas as pd

In [65]:
ccp_raw = pd.read_csv('ccp.csv', header=None)

In [66]:
ccp_raw.head(10)

                    0
0        Ajisen Ramen
1   Changi City Point
2           #01-35/36
3           6636 1600
4        10am to 10pm
5  Food & Restaurants
6           Gift Card
7      Frasers Points
8           READ MORE
9            Akimitsu

In [67]:
shop_name_indices = [x+1 for x in ccp_raw[ccp_raw[0]=='READ MORE'].index.values.astype(int)]
shop_name_indices.insert(0, 0)

In [68]:
ccp_clean = ccp_raw.iloc[shop_name_indices].reset_index()
ccp_clean.drop('index', axis=1, inplace=True)

In [69]:
ccp_clean['test_filter'] = list(range(len(ccp_clean)))

In [70]:
ccp_clean.head()

                    0  test_filter
0        Ajisen Ramen            0
1            Akimitsu            1
2  Awfully Chocolate             2
3           Boulevard            3
4          BreadTalk             4

In [71]:
odd_nums_mask = ccp_clean['test_filter']%2 != 0

In [72]:
import random

In [73]:
random.choice(list(ccp_clean[odd_nums_mask][0]))

'Koi Caf√© '