In [1]:
class Location(object):
    def __init__(self, location_name, location_csv):
        self.location_name = None
        self.location_csv = None

In [2]:
ccp = Location('Changi City Point', 'ccp.csv')

In [5]:
type(ccp)

__main__.Location

In [3]:
import pandas as pd
import random

In [5]:
ccp_clean = pd.read_csv('ccp_clean.csv', index_col=0)

In [8]:
ccp_clean['0']

0                         Ajisen Ramen
1                             Akimitsu
2                   Awfully Chocolate
3                            Boulevard
4                           BreadTalk
5                           Chateraise
6                       Curry is Drink
7                        Dough Culture
8                     Five Izakaya Bar
9                            Fragrance
10                               Han's
11                        Hey Long Cha
12          Hokkaido Baked Cheese Tart
13         Hong Kong Sheng Kee Dessert
14                       Ichiban Sushi
15                         Idaten Udon
16                            Jollibee
17                           Koi Café
18                            Kopitiam
19               Lian Peng Bak Kut Teh
20                          McDonald's
21                               Mmmm!
22    Moa Tiki New Zealand Bar & Grill
23                             Mr Bean
24                         O Mamma Mia
25                          Ohana Poke
26                       Old Chang Kee
27                              Ootoya
28                         Peony Sense
29                      Pondok Kartika
30                          PrimaDeli
31           Proofer Bakery & Pizzeria
32               Putri Nur Nasi Padang
33                           Saizeriya
34                   Salad Chef
35                 Seoul Garden HotPot
36                 SF Fruits & Juices
37                           Shabu Sai
38                          Snackz It!
39                           Starbucks
40                            Stuff'd
41                       Table Manners
42                      Teppei Syokudo
43                      Texas Chicken
44          The Coffee Bean & Tea Leaf
45           The Manhattan FISH MARKET
46            The Original Boat Noodle
47                The Soup Spoon Union
48                           Toast Box
49                 Tung Lok Signatures
50                    Twelve Cupcakes
51                     Wine Connection
52                        WOLF Burgers
53                        Wrap & Roll
54                  Ya Kun Family Café
55                        Yami Yogurt
56                                Yolé
Name: 0, dtype: object

In [10]:
ccp_clean = pd.read_csv('ccp_clean.csv', index_col=0)
suggestion = random.choice(list(ccp_clean['0'])); suggestion

'Wine Connection'

In [2]:
ccp_raw = pd.read_csv('ccp.csv', header=None)

In [3]:
ccp_raw.head(10)

                    0
0        Ajisen Ramen
1   Changi City Point
2           #01-35/36
3           6636 1600
4        10am to 10pm
5  Food & Restaurants
6           Gift Card
7      Frasers Points
8           READ MORE
9            Akimitsu

In [4]:
shop_name_indices = [x+1 for x in ccp_raw[ccp_raw[0]=='READ MORE'].index.values.astype(int)]
shop_name_indices.insert(0, 0)

In [5]:
ccp_clean = ccp_raw.iloc[shop_name_indices].reset_index()
ccp_clean.drop('index', axis=1, inplace=True)

In [6]:
ccp_clean['test_filter'] = list(range(len(ccp_clean)))

In [7]:
ccp_clean.head()

                    0  test_filter
0        Ajisen Ramen            0
1            Akimitsu            1
2  Awfully Chocolate             2
3           Boulevard            3
4          BreadTalk             4

In [8]:
ccp_clean.to_csv('ccp_clean.csv')

In [13]:
ccp_clean = pd.read_csv('ccp_clean.csv', index_col=0); ccp_clean

                                   0  test_filter
0                       Ajisen Ramen            0
1                           Akimitsu            1
2                 Awfully Chocolate             2
3                          Boulevard            3
4                         BreadTalk             4
5                         Chateraise            5
6                     Curry is Drink            6
7                      Dough Culture            7
8                   Five Izakaya Bar            8
9                          Fragrance            9
10                             Han's           10
11                      Hey Long Cha           11
12        Hokkaido Baked Cheese Tart           12
13       Hong Kong Sheng Kee Dessert           13
14                     Ichiban Sushi           14
15                       Idaten Udon           15
16                          Jollibee           16
17                         Koi Café            17
18                          Kopitiam           18
19             Lian Peng Bak Kut Teh           19
20                        McDonald's           20
21                             Mmmm!           21
22  Moa Tiki New Zealand Bar & Grill           22
23                           Mr Bean           23
24                       O Mamma Mia           24
25                        Ohana Poke           25
26                     Old Chang Kee           26
27                            Ootoya           27
28                       Peony Sense           28
29                    Pondok Kartika           29
30                        PrimaDeli            30
31         Proofer Bakery & Pizzeria           31
32             Putri Nur Nasi Padang           32
33                         Saizeriya           33
34                 Salad Chef                  34
35               Seoul Garden HotPot           35
36               SF Fruits & Juices            36
37                         Shabu Sai           37
38                        Snackz It!           38
39                         Starbucks           39
40                          Stuff'd            40
41                     Table Manners           41
42                    Teppei Syokudo           42
43                    Texas Chicken            43
44        The Coffee Bean & Tea Leaf           44
45         The Manhattan FISH MARKET           45
46          The Original Boat Noodle           46
47              The Soup Spoon Union           47
48                         Toast Box           48
49               Tung Lok Signatures           49
50                  Twelve Cupcakes            50
51                   Wine Connection           51
52                      WOLF Burgers           52
53                      Wrap & Roll            53
54                Ya Kun Family Café           54
55                      Yami Yogurt            55
56                              Yolé           56

In [9]:
odd_nums_mask = ccp_clean['test_filter']%2 != 0

In [10]:
import random

In [11]:
random.choice(list(ccp_clean[odd_nums_mask][0]))

'Table Manners'